@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

h1, h2, div {
    font-family: 'Lora', serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.post-date {
    border-bottom: 1px solid #d0d0d0;
    text-transform: uppercase;
    padding: 40px 5px 5px 0px;
    text-align: right;
    font-size: 1.3em;
    font-weight: bold;
}

a, li {
    text-decoration: none;
    color: #666;
}

li a {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Lora', sans-serif;
}

li {
    text-align: center;
    list-style: none;
    padding: 10px 0px;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav {
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}

a:active {
    color: #DEB887;
}

a:hover {
    color: #00ddff;
}

h1 a {
    color: #333;
}

h1 {
    font-size: 3em;
    text-align: center;
}

section {
    padding: 5px;
    font-size: .9em;
}

img {
    width: 100%;
}

@media screen and (min-width: 500px) {
    article {
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    .post-date {
        border-bottom: none;
        border-right: 1px solid #d0d0d0;
        padding: 10px;
        width: 150px;
        box-sizing: border-box;
    }

    h2 {
        margin: 0px;
    }

    section {
        padding: 10px;
    }

    nav {
        margin-bottom: 20px;
        text-align: right;
    }

    nav li {
        display: inline-block;
        padding: 10px;
    }

    img {
        display: block;
        max-width: 200px;
        margin: 0 auto;
    }

    body div:nth-child(1) {
        max-width: 650px;
        margin: 0 auto;
    }
}