body {
    margin: 0;
}

@mixin horizontalLine() {
    display: block;
    content: '';
    width: 40px;
    height: 6px;
    background-color: lightgray;
    margin: 8px;
    border-radius: 10px;
}

@mixin open($adjustmentY, $rotation) {
    transform: translate(600%, $adjustmentY) rotate($rotation);
}

h1 {
    margin-top: 100px;
}

div {
    width: fit-content;
}

ul {
    padding: 0;
}

nav li {
    //color: white;
    list-style-type: none;
    margin: 1em 2em;
    font-size: 2em;
    
    a {
        text-decoration: none;
        color: white;
    }
}

aside#nav-container {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    display: grid;
    width: 0;
    grid-template-columns: [nav] auto [escape] 1fr;
    top: 0;
    transition: .5s;
    height: 100vh;

    nav {
        overflow: hidden;
        width: 0;
        transition: .5s;
        background-color: black;
    }
}

#nav-container.open {
    width: 100%;

    nav {
        background-color: black;
        width: 300px;
        box-shadow: 5px 5px 20px black;
    }

    a {
        background-color: transparent;
    }
}

.menu-icon::before, span, .menu-icon::after {
    @include horizontalLine();
    transition: .5s;
}

.open span {
    @include open(0, 135deg);
    // transform: translate(600%, 0) rotate(135deg);
}

.open::before {
    @include open(14px, 135deg);
    // transform: translate(600%, 14px) rotate(135deg);
}

.open::after {
    @include open(-14px, 45deg);
    // transform: translate(600%, -14px) rotate(45deg);
}

#menu-icon {
    position: absolute;
    z-index: 2;
    top: 15px;

    &:hover {
        cursor: pointer;
    }
}