@import 'typography';
@import 'icons';

$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;

// Utility classes
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

p, span, h1, h3, a {
  font-family: 'BYUI Open Sans';
}

a {
  text-decoration: none;
  color: #0076b6;
}

h3 {
  font-size: 1.4em;
  margin: 0;
}

header {
  background-color: #0076b6;
  a {
    color: $light-gray;
    text-decoration: none;
  }
  .icon-byui-logo {
    background-color: #020202;
    padding: 15px;
    display: block;
    width: fit-content;
    font-size: 2.1em;
  }
  > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (min-width: 1000px){
      grid-template-columns: 50% 30% 1fr;
    }
    .site-banner__right {
      margin: auto 10px auto auto;
      a {
        text-align: right;
        font-size: 2.2em;
      }
    }
    form {
      grid-column: 1/3;
      text-align: center;
      background-color: #b4b3b5;
      padding: 1.2em;
      @media screen and (min-width: 1000px){
        grid-column: 2/3;
        grid-row: 1/2;
        background-color: transparent;
      }
      input {
        border-radius: 5px 0 0 5px;
        padding: 5px;
        box-sizing: border-box;
        border: 1px solid #b4b3b5;
      }
      button {
        padding: 5px 8px;
        background-color: #2fc452;
        border: 1px solid #b4b3b5;
        border-radius: 0 5px 5px 0;
        color: white;
        margin-left: -20px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.white-text {
  @media screen and (min-width: 1000px){
    max-width: 900px;
    margin: 0 auto;
  }
}

body {
  margin: 0px;
}

main {
  margin: 0px 15px;
  @media screen and (min-width: 700px){
    margin: 0 auto;
    max-width: 650px;
  }
  @media screen and (min-width: 1000px){
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 900px;
    grid-gap: 30px;
    margin: 50px auto;
  }
}

#interest-box-grid {
  @media screen and (min-width: 1000px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }
}

.interest-box {
  border: 1px solid #989898;
  margin: 40px auto;

  &.first {
    grid-column: 1/4;
  }

  @media screen and (min-width: 529px){
    &:not(.first){
      width: 70%;
      @media screen and (min-width: 1000px){
        width: 100%;
      }
    }
    @media screen and (min-width: 1000px){
      margin: 0;
    }
  }
  img {
    display: block;
  }
  a {
    text-decoration: none;
    color: #0076b6;
    font-family: 'BYUI Open Sans';
  }
  span {
    text-decoration: none;
    margin: 8px;
    display: inline-block;
    &:nth-of-type(2) {
      float: right;
      margin-right: 5px;
    }
  }
}

#link-list {
  & > div {
    padding: 0;
    margin-bottom: 40px;
  }
  h3 {
    padding: .4em 25px;
    background-color: #0076b6;
    color: white;
    font-weight: 400;
  }
  .resources {
    h3 {
      background-color: #727272;
    }
    a {
      font-size: .96em;
      background-color: #f2f2f278;
      span {
        float: right;
      }
    }
  }
  .important-dates {
    a {
      border-left: none;
      border-right: none;
      color: black;
      display: grid;
      grid-template-columns: 100px 30px 1fr;
      font-size: .8em;
      .date {
        font-weight: 700;
      }
      span {
        margin: auto 0px;
      }
      &:hover {
        color: #0076b6;
      }
    }
  }
  a {
    display: block;
    padding: 8px 25px;
    border: 1px solid #b4b3b5;
    border-top: none;
    &:hover {
      background-color: #e2e2e2;
    }
  }
}

#newsroom {
  img {
    display: none;
    @media screen and (min-width: 1000px){
      display: block;
      margin: auto 0;
    }
  }
  
  .news-item {
    border-top: 1px solid #b4b3b5;
    margin-bottom: 10px;
    span {
      font-weight: 700;
      font-size: .8em;
      margin: 25px 0px;
      display: block;
    }
    h3 {
      font-size: 1.1em;
      font-weight: 600;
    }
    @media screen and (min-width: 1000px) {
      display: grid;
      grid-template-columns: 150px 1fr;
      grid-gap: 30px;
    }
  }
  button {
    background-color: #0076b6;
    border: none;
    color: white;
    font-family: 'BYUI Open Sans';
    font-weight: 600;
    font-size: 1.05em;
    padding: 7px 25px;
    border-radius: 5px;
    display: block;
    margin: 0 0 0 auto;
    &:hover {
      cursor: pointer;
      background-color: #0561a3;
    }
  }
}